.DS_STORE
home/.config/nvim/plugin/packer_compiled.lua
home/.config/systemd
home/.config/.avalonia-build-tasks

yay-bin
home/.config/herdr/herdr-client.log
home/.config/herdr/herdr-server.log
home/.config/herdr/session-history.json
home/.config/herdr/session.json
home/.config/herdr/release-notes.json
home/.agents/skills/microsoft-foundry
home/.agents/.skill-lock.json
