URxvt.colorUL:             #006699
URxvt.cursorBlink : 1 
URxvt.cursorUnderline : 1 
URxvt.cursorColor: cyan
URxvt*saveLines: 60000
!URxvt*font: xft:Terminess Powerline:size=12
!URxvt.letterSpace: -2
!URxvt.font: xft:Source Code Pro For Powerline:size=10
!URxvt.font: xft:DejaVu Sans Mono For Powerline:size=10
URxvt.font: xft:Source Code Pro For Powerline:size=10
URxvt*letterSpace: -1
URxvt.scrollBar: false
URxvt.internalBorder: 0

! copy/paste
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.clipboard.autocopy: true
URxvt.keysym.Ctrl-Insert: perl:clipboard:copy
URxvt.keysym.Shift-Insert: perl:clipboard:paste

! keyboard select keybindings
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! url select options
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
