URxvt.letterSpace: -1
URxvt.colorUL:             #006699
URxvt.cursorBlink : 1 
URxvt.cursorUnderline : 1 
URxvt.cursorColor: cyan
URxvt*saveLines: 60000
URxvt.font: xft:monospace:size=10,xft:DejaVu Sans Mono for Powerline:regular:size=10
URxvt.scrollBar: false

! copy/paste
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default, clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.Ctrl-Insert: perl:clipboard:copy
URxvt.keysym.Shift-Insert: perl:clipboard:paste


