URxvt.letterSpace: -1
URxvt.colorUL:             #006699
URxvt.cursorBlink : 1 
URxvt.cursorUnderline : 1 
URxvt.cursorColor: cyan
URxvt*saveLines: 60000
!URxvt.background: #1E262E
URxvt.font: xft:monospace:size=10
URxvt.scrollBar: false

! copy/paste
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default, clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.Ctrl-Insert: perl:clipboard:copy
URxvt.keysym.Shift-Insert: perl:clipboard:paste

! base-16 Xresources color theme
#include "/home/jason/base16-xresources/xresources/base16-default-dark-256.Xresources"

! base-16 vim color theme
